default:
  testers:
    stop_on_failure: true
    strict: true
  autoload:
    '': "%paths.base%/tests/Acceptance"
  extensions:
    TwentytwoLabs\BehatOpenApiExtension:
      schemaFile: "file:///srv/app/.github/openapi-spec/spec.yaml"
    Behat\MinkExtension:
      base_url: "https://caddy"
      sessions:
        default:
          browserkit_http: ~
  suites:
    default:
      contexts:
        - TwentytwoLabs\BehatOpenApiExtension\Context\DebugContext: ~
        - TwentytwoLabs\BehatOpenApiExtension\Context\RestContext: ~
        - TwentytwoLabs\BehatOpenApiExtension\Context\JsonContext: ~
        - TwentytwoLabs\BehatOpenApiExtension\Context\OpenApiContext: ~
