# Load tests environment override
services:
  php:
    build:
      context: .
      target: app_php
      args:
        SYMFONY_VERSION: ${SYMFONY_VERSION:-}
        STABILITY: ${STABILITY:-stable}
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped
    volumes:
      - php_socket:/var/run/php
      - ./infrastructure/docker/php/conf.d/app.prod.ini:/usr/local/etc/php/conf.d/app.prod.ini:ro
    healthcheck:
      test: ['CMD-SHELL', 'php-fpm -t || exit 1']
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 30s
    environment:
      MERCURE_URL: ${CADDY_MERCURE_URL:-http://caddy/.well-known/mercure}
      MERCURE_PUBLIC_URL: https://${SERVER_NAME}/.well-known/mercure
      DB_URL: mongodb://${DB_USER}:${DB_PASSWORD}@database:${DB_PORT}
      REDIS_URL: ${REDIS_URL:-redis://redis:6379/0}

  caddy:
    build:
      context: .
      target: app_caddy
    depends_on:
      php:
        condition: service_healthy
    environment:
      SERVER_NAME: ${SERVER_NAME}
    restart: unless-stopped
    volumes:
      - php_socket:/var/run/php
      - caddy_data:/data
      - caddy_config:/config
    ports:
      # HTTP
      - target: 80
        published: ${HTTP_PORT:-80}
        protocol: tcp
      # HTTPS
      - target: 443
        published: ${HTTPS_PORT:-443}
        protocol: tcp
      # HTTP/3
      - target: 443
        published: ${HTTP3_PORT:-443}
        protocol: udp

  database:
    image: mongo:6.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - '${DB_PORT}:27017'
    volumes:
      - db_data:/data/db
    healthcheck:
      test: ['CMD', 'mongosh', '--eval', 'db.runCommand({ ping: 1 }).ok']
      interval: 10s
      timeout: 5s
      retries: 5

  localstack:
    image: localstack/localstack:3.4.0
    container_name: localstack
    ports:
      - '${LOCALSTACK_PORT}:4566'
    environment:
      - SERVICES=sqs
      - DEBUG=0
    volumes:
      - localstack_data:/var/lib/localstack
      - ./infrastructure/docker/php/init-aws.sh:/etc/localstack/init/ready.d/init-aws.sh

  redis:
    image: redis:8-alpine
    ports:
      - '6379:6379'

volumes:
  php_socket:
  caddy_data:
  caddy_config:
  db_data:
  localstack_data:
