App\Core\Customer\Domain\Entity\CustomerType:
  exceptionToStatus:
    'App\Core\Customer\Domain\Exception\CustomerTypeNotFoundException': 404
  normalizationContext:
    groups: ['output']
  paginationViaCursor:
    - { field: 'ulid', direction: 'DESC' }

  # REST Operations
  operations:
    ApiPlatform\Metadata\GetCollection:
      description: 'Retrieves the collection of CustomerType resources'
      summary: 'Get CustomerType collection'
      filters:
        - customer.mongodb.type.order
        - customer.mongodb.type.partial_search
        - mongodb.range
    ApiPlatform\Metadata\Get:
      description: 'Retrieves a CustomerType resource by its unique identifier'
      summary: 'Get a single CustomerType'
    ApiPlatform\Metadata\Put:
      description: 'Replaces the CustomerType resource'
      summary: 'Update a CustomerType'
      input: App\Core\Customer\Application\DTO\TypePut
      processor: App\Core\Customer\Application\Processor\CustomerTypePutProcessor
      denormalizationContext:
        allow_extra_attributes: false
    ApiPlatform\Metadata\Patch:
      description: 'Updates the CustomerType resource partially'
      summary: 'Partially update a CustomerType'
      input: App\Core\Customer\Application\DTO\TypePatch
      processor: App\Core\Customer\Application\Processor\CustomerTypePatchProcessor
      denormalizationContext:
        allow_extra_attributes: true
    ApiPlatform\Metadata\Delete:
      description: 'Removes the CustomerType resource'
      summary: 'Delete a CustomerType'
    ApiPlatform\Metadata\Post:
      description: 'Creates a CustomerType resource'
      summary: 'Create a new CustomerType'
      input: App\Core\Customer\Application\DTO\TypeCreate
      processor: App\Core\Customer\Application\Processor\CreateTypeProcessor
      denormalizationContext:
        allow_extra_attributes: true

  # GraphQL Operations
  graphQlOperations:
    ApiPlatform\Metadata\GraphQl\Query:
      filters:
        - customer.mongodb.type.order
        - customer.mongodb.type.partial_search
        - mongodb.range
    ApiPlatform\Metadata\GraphQl\QueryCollection:
      filters:
        - customer.mongodb.type.order
        - customer.mongodb.type.partial_search
        - mongodb.range
      paginationType: cursor
    ApiPlatform\Metadata\GraphQl\Mutation:
      name: create
      resolver: App\Core\Customer\Application\Resolver\CreateTypeMutationResolver
      deserialize: false
      read: false
      write: false
      denormalizationContext:
        groups: []
      extraArgs:
        value:
          type: 'String!'
    ApiPlatform\Metadata\GraphQl\Mutation#update:
      class: ApiPlatform\Metadata\GraphQl\Mutation
      name: update
      resolver: App\Core\Customer\Application\Resolver\UpdateTypeMutationResolver
      deserialize: false
      read: false
      write: false
      denormalizationContext:
        groups: []
      extraArgs:
        id:
          type: 'ID!'
        value:
          type: 'String!'
    ApiPlatform\Metadata\GraphQl\DeleteMutation:
      name: delete
      normalizationContext:
        groups: ['deleteMutationOutput']
