name: code quality

on:
  pull_request:

jobs:
  phpinsights:
    runs-on: ubuntu-latest
    name: PHP Insights checks
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
      - run: composer install --prefer-dist --no-progress --no-suggest --no-scripts
      - run: CI=1 make phpinsights
