name: code quality

on:
  pull_request:
    branches: ['main']

jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Start application
        run: make start

      - name: Run Psalm
        run: make psalm

      - name: Psalm Security Analysis
        run: make psalm-security-report

      - name: Copy SARIF file from container
        run: docker compose cp php:/app/results.sarif ./results.sarif

      - name: Upload Security Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
