name: Unit and Integration testing

on:
  pull_request:

jobs:
  tests:
    name: PHPUnit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ vars.PHP_VERSION }}

      - name: Install dependencies
        run: composer self-update && composer install --dev --no-scripts --no-progress && composer dump-autoload

      - name: Start application
        run: make start

      - name: Execute all tests with coverage
        run: make coverage-xml

      - name: Copy coverage report to host
        run: docker cp core-service-php-1:/srv/app/coverage/coverage.xml /tmp/coverage.xml

      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: /tmp/coverage.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true
          verbose: true
